# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=mysql://tm0z8niw286408c4690c:************@us-east.connect.psdb.cloud/pos_restaurant?sslaccept=strict